/AgriculturePromotion/dist/
/AgriculturePromotion/nbproject/private/
/AgriculturePromotion/build/
/AgriculturePromotion/AgriculturePromotion/nbproject/private/
/AgriculturePromotion/AgriculturePromotion/build/
